.box-table {
  margin-top: 20px;
}
.table-data {
  th{
    padding: 10px !important;
  }
  td{
    font-size: 1.2rem;
    color: var(--color-td);
    font-weight: 600;
    padding: 10px !important;
    background-color: var(--upload-img);
    border-right: 2px solid var(--form-login);
  }
  tr {
    cursor: pointer;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: rgb(233, 249, 238); // màu khi checkbox được chọn
    //   border-color: #1890ff;
  }

  .ant-table-row {
    cursor: pointer;
    &:checked {
      background-color: rgb(233, 249, 238);
    }
  }

  .ant-table-tbody {
    tr > td {
      
      &:hover {
        background-color: #f5f5f5;
      }
      &:checked {
        background-color: rgb(233, 249, 238);
      }

    }
  }
}

.footer-table,
.staff-id {
  min-width: 100px;
}

.employee-type{
  min-width: 130px;
}
.date{
  min-width: 120px;
} 

.national-card{
  min-width: 180px;
}
.home{
  min-width: 200px;
}
.contract,
.mother-name,
.marriage,
.bank-account,
.bank-card {
  min-width: 150px;
}
