.list-salary {
  margin: 0 30px;

  .input-values {
    flex: 1;
  }

  .form-input {
    max-width: 560px;
  }
}

.head-infomation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--back-input);
  margin-bottom: 10px;
  h1 {
    font-size: 2rem;
  }

  span {
    color: var(--delete-btn);
  }
}

.ant-row {
  justify-content: space-between;
}

.label-custom {
  max-width: 520px;
  label {
    min-width: 180px;
    &::before {
      content: "" !important;
    }
    span {
      color: var(--delete-btn);
      font-size: 1.4rem;
    }
    
  }
  .input-values{
    width: 100%;
    // background-color: #333;
  }

}
