.contact-infomation {
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  .show-and-delete{
    display: flex;
    align-items: center;
  }
  .show-item{
    display: flex;
    align-items: center;
    background-color: rgb(233, 249, 238);
    color: var(--show-icon);
    padding: 0 4px;
    margin-right: 20px;
    border-radius: 8px;
    p{
      white-space: nowrap;
      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .icon-show{
      font-size: 1.6rem;
    }
  }
  .style-datepick {
    width: 100%;
  }

  .box-confirm {
    padding: 20px;
  }
  .form-1 {
    // margin: 10px;
    margin-top: 16px;
    max-width: 520px;
    padding: 0 10px 10px;
  }

  .box-contact {
    border: 1px solid var(--back-input);
    border-radius: 8px;
    .title {
      border-bottom: 1px solid var(--back-input);
      p {
        padding: 4px 10px;
        background-color: var(--back-input);
        font-weight: 600;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: var(--map-page);
        width: 100%;
        margin-bottom: 10px;
      }
      span {
        display: block;
        padding: 4px 10px;
        margin-bottom: 10px;
      }
    }
  }
  .btn-upload {
    max-width: 520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 10px 10px;

    .upload {
      // padding: 10px;
    }
    .btn-upload-img {
      display: flex;
      align-items: center;
      border: 2px dotted var(--gener-ral);
      border-radius: 8px;
      padding: 14px 30px;
      background-color: var(--upload-img);
      color: var(--add-btn);
      font-size: 1.6rem;
      height: 100%;
      color: var(--gener-ral);
    }
    .btn-color-add {
      border: 2px solid;
      min-width: 19.5rem;
      text-align: center;
      height: 100%;
      padding: 14px 50px;
      border-radius: 8px;
      font-size: 1.6rem;
      font-weight: 500;
      color: var(--back-input);
      background-color: var(--btn-color);
      cursor: pointer;
    }
  }
}

.head-infomation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--back-input);
  margin-bottom: 10px;
  h1 {
    font-size: 2rem;
  }
  span {
    color: var(--delete-btn);
  }
}

.label-custom {
  label {
    min-width: 180px;
    &::before {
      content: "" !important;
    }
    span {
      color: var(--delete-btn);
    }
  }
}

.delete-file {
  color: var(--delete-btn);
  font-size: 2rem;
  text-align: right;
  // padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--upload-img);

  cursor: pointer;
}

.warning {
  border: 1px solid red;
}
.warning-text {
  color: red;
  font-weight: 400;
}
