.contact-infomation {
  .style-datepick {
    width: 100%;
  }

  .box-confirm {
    padding: 20px;
  }
  .form-1 {
    // margin: 10px;
    margin-top: 16px;
    max-width: 520px;
    padding: 0 10px 10px;
  }

  .box-contact {
    border: 1px solid var(--back-input);
    border-radius: 8px;
    .title {
      border-bottom: 1px solid var(--back-input);
      p {
        padding: 4px 10px;
        background-color: var(--back-input);
        font-weight: 600;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: var(--map-page);
        width: 100%;
        margin-bottom: 10px;
      }
      span{
        display: block;
        padding: 4px 10px;
        margin-bottom: 10px;
        
      }
    }
  }
  .btn-upload {
    max-width: 520px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 10px 10px;

    .upload {
      // padding: 10px;
    }
    .btn-upload-img {
      
      border-radius: 8px;
      padding: 14px;
      background-color: var(--upload-img);
      color: var(--add-btn);
      font-size: 1.6rem;
      height: 100%;

      
    }
    .btn-color-add {
      background-color: var(--btn-color);
      padding: 14px 50px;
      height: 100%;
      font-size: 1.6rem;
    }
  }
}

.head-infomation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--back-input);
  margin-bottom: 10px;
  h1 {
    font-size: 2rem;
  }
  span {
    color: var(--delete-btn);
  }
}

.label-custom {
  label {
    min-width: 180px;
    &::before {
      content: "" !important;
    }
    span {
      color: var(--delete-btn);
    }
  }
}
