.ant-tabs-nav {
  // định nghĩa CSS cho phần đầu tab

  &::before {
    border-bottom: none !important;
  }
}

.ant-tabs-nav-wrap {
  // định nghĩa CSS cho container của các tab
  display: flex;
  justify-content: space-between;
}

.ant-tabs-tab-active {
  background-color: var(--gener-ral) !important;
  // button{
  //   // color: ;
  //   color: #fff !important;
  // }
}
.ant-tabs-tab {
  // định nghĩa CSS cho mỗi tab
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: #1890ff;
  border-radius: 0;
  transition: all 0.3s;
  border-radius: 4px !important;
  button {
    span {
      font-weight: 500;
    }
  }
  &.ant-tabs-tab-active {
    // định nghĩa CSS cho tab được chọn
    color: #1890ff;
    border-bottom: 2px solid #1890ff;
    background-color: transparent;
    .nomal-btn{
      span{
        color: var(--nomal-color);
      }
    }
  }

  &:hover {
    // định nghĩa CSS cho tab khi hover
    color: #1890ff;
    border-bottom: 2px solid #1890ff;
    background-color: #f0f0f0;
  }
}
