.ant-tabs-nav {
  // định nghĩa CSS cho phần đầu tab
  // padding: 0 20px;
  // background-color: #f0f0f0;
  &::before {
    border-bottom: none !important;
  }
}

.ant-tabs-nav-wrap {
  // định nghĩa CSS cho container của các tab
  display: flex;
  justify-content: space-between;
}

.ant-tabs-tab-active {
  background-color: var(--gener-ral) !important;
  button{
    // color: ;
    color: #fff !important;
  }
  .ant-tabs-tab-btn {
  }
}
.ant-tabs-tab {
  // định nghĩa CSS cho mỗi tab
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  // color: var(--form-login);
  border: none;
  background-color: #1890ff;
  border-radius: 0;
  transition: all 0.3s;
  border-radius: 4px !important;
  &.ant-tabs-tab-active {
    // định nghĩa CSS cho tab được chọn
    color: #1890ff;
    border-bottom: 2px solid #1890ff;
    background-color: transparent;
  }

  &:hover {
    // định nghĩa CSS cho tab khi hover
    color: #1890ff;
    border-bottom: 2px solid #1890ff;
    background-color: #f0f0f0;
  }
}
