.employee-create-update {
  max-width: 1170px;
  flex: 1;
  padding: 30px;
  .map-page {
    display: flex;
    align-items: center;
    p,
    a {
      font-size: 1.6rem;
      color: var(--map-page);
    }
    span {
      margin: 0 4px;
      font-size: 1.4rem;
    }
    .active {
      color: var(--text-color);
      font-weight: 500;
    }
  }
  .head-employ-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .btn {
      padding: 12px 24px;
      background: #c1c8cd;
      border-radius: 6px;
      border: none;
      font-size: 1.6rem;
    }
  }
  .tab-ui {
    // background-color: #fff;
    // border-radius: 8px;
    padding: 20px 0;
    margin-top: 30px;
      .warning-infomation {
        position: absolute;
        // color: var(--upload-img);
        font-size: 2rem;
        right: 8px;
      }
  }

  .btn-login {
    min-width: 75px;
    padding: 0 50px;
  }
}

.warning-tabpane{
  // width: 100%;
  background-color: red !important;
}